extends ../layout.pug

block content
    .banner
        .container
            .row
                .col-md-6.order-2.order-lg-1
                    .banner__content
                        .banner__content--subtitle= contact_banner_subtitle
                        .banner__content--title= contact_banner_title
                        .banner__content--text= contact_banner_text
    .container.py-4
        .alert.alert-warning.mb-4 This website is still in beta, there will be a contact page soon, to get in contact email
            a.ml-1(href="mailto:bobbyallen1099@gmail.com") bobbyallen1099@gmail.com
