extends ../layout.pug

block content
    .banner
        .container
            .row
                .col-md-6.order-2.order-lg-1
                    .banner__content
                        .banner__content--subtitle= contact_banner_subtitle
                        .banner__content--title= contact_banner_title
                        .banner__content--text= contact_banner_text
    .contact-me
        .container.py-4
            h4 Contact form
            form(action="https://formspree.io/xgelpgng" method="post")
                .row
                    .col-md-6
                        .form-group
                            label(for="firstname") Firstname
                            input#firstname.form-control(name="firstname" placeholder="Firstname")
                    .col-md-6
                        .form-group
                            label(for="surname") Surname
                            input#surname.form-control(name="surname" placeholder="Surname")
                    .col-md-6
                        .form-group
                            label(for="email") Email
                            input#email.form-control(name="email" placeholder="Email")
                    .col-md-6
                        .form-group
                            label(for="phone") Phone
                            input#phone.form-control(name="phone" placeholder="Phone")
                    .col-md-12
                        .form-group
                            label(for="message") Message
                            textarea#message.form-control(name="message" placeholder="Message" rows="4")
                    .col-12
                        button.btn.btn-primary Submit