extends ../layout.pug

block content
    .banner 
        .container
            .row
                .col-md-6.order-2.order-lg-1
                    .banner__content
                        .banner__content--subtitle= contact_banner_subtitle
                        .banner__content--title= contact_banner_title
                        .banner__content--text= contact_banner_text
                        a.btn.btn-primary(href= contact_banner_button_link)= contact_banner_button_text