.contact
    .container
        .row
            .col-md-9
                h2 Lets get in contact
                h5.text-muted I'd love to hear from you.
            .col-md-3
                a.btn.btn-primary.btn-block(href="/contact") Get in contact
footer.footer
