header.header
    .container
        .header__wrapper
            .header__wrapper--logo Bobby Allen
            ul.header__wrapper--menu
                li.header__wrapper--menu--item
                    a(href="#") Home
                li.header__wrapper--menu--item
                    a(href="#") About
                li.header__wrapper--menu--item
                    a(href="#") Work
                li.header__wrapper--menu--item
                    a.btn.btn-primary(href="#") Contact