header.header
    .container
        .header__wrapper
            a(href="/").header__wrapper--logo
                img(src="dist/img/bobby-allen-logo.svg")
                span Bobby Allen
            .header__wrapper--toggle
            ul.header__wrapper--menu
                each page in routes
                    li.header__wrapper--menu--item
                        a(href= page.page_route, class=page.link_button ? 'btn btn-primary' : '')= page.page_name