block pagecontent
    //- Global
    
    //- Home
    - var home_banner_subtitle = "I'm a"
    - var home_banner_title = "Experienced designer & web development"
    - var home_banner_text = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas suscipit odio diam, at lacinia ante venenatis eu. Nulla sed sem ullamcorper, ultricies massa ut, rhoncus risus. Aliquam at nisi sem. Fusce tincidunt et turpis eget hendrerit."
    - var home_banner_button_text = "Learn more"
    - var home_banner_button_link = "#"