block pagecontent
    //- Global
    
    //- Home
    - var home_banner_subtitle = "I'm a"
    - var home_banner_title = "Experienced designer & web development"
    - var home_banner_text = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas suscipit odio diam, at lacinia ante venenatis eu. Nulla sed sem ullamcorper, ultricies massa ut, rhoncus risus. Aliquam at nisi sem. Fusce tincidunt et turpis eget hendrerit."
    - var home_banner_button_text = "Learn more"
    - var home_banner_button_link = "#"
    - var home_technical_skills = [
    -   {  
    -       'skill_title': 'Web Development',  
    -       'skill_text': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas suscipit odio diam, at lacinia ante venenatis eu. Nulla sed sem ullamcorper, ultricies massa ut, rhoncus risus. Aliquam at nisi sem. Fusce tincidunt et turpis eget hendrerit.'
    -   },
    -   {  
    -       'skill_title': 'Design',  
    -       'skill_text': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas suscipit odio diam, at lacinia ante venenatis eu. Nulla sed sem ullamcorper, ultricies massa ut, rhoncus risus. Aliquam at nisi sem. Fusce tincidunt et turpis eget hendrerit.'
    -   }
    - ]
    - var home_my_work = [
    -   {  
    -       'work_image': 'dist/img/john-fowlers.jpg',  
    -       'work_title': 'John fowlers',  
    -       'work_text': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas suscipit odio diam, at lacinia ante venenatis eu. Nulla sed sem ullamcorper, ultricies massa ut, rhoncus risus. Aliquam at nisi sem. Fusce tincidunt et turpis eget hendrerit.',
    -       'work_link': '#'
    -   },
    -   {  
    -       'work_image': 'dist/img/marfleet.jpg',  
    -       'work_title': 'Marfleets',  
    -       'work_text': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas suscipit odio diam, at lacinia ante venenatis eu. Nulla sed sem ullamcorper, ultricies massa ut, rhoncus risus. Aliquam at nisi sem. Fusce tincidunt et turpis eget hendrerit.',
    -       'work_link': '#'
    -   },
    -   {  
    -       'work_image': 'dist/img/hayward-moon.jpg',  
    -       'work_title': 'Hayward Moon',  
    -       'work_text': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas suscipit odio diam, at lacinia ante venenatis eu. Nulla sed sem ullamcorper, ultricies massa ut, rhoncus risus. Aliquam at nisi sem. Fusce tincidunt et turpis eget hendrerit.',
    -       'work_link': '#'
    -   },
    - ]