.footer {
    background-color: $light;
    &__content {
        padding: 5rem 0;
    }
    &__copyright {
        padding: 1rem 0;
        background-color: darken($light, 10);
        border-top: 1px solid darken($light, 15);
        border-bottom: 1px solid darken($light, 15);

        p {
            margin: 0;
        }
    }

    ul {
        list-style: none;
        margin-top: 1rem;
        padding: 0;
        display: flex;
        li {
            padding-right: 1rem;
        }
    }
    .useful-links {
        img {
            width: 32px;
            margin-right: 0.5rem;
        }
    }
}