.banner {
    background: $light;
    border-bottom: 1px solid darken($light, 10);
    padding: 2rem 0 4rem;
    position: relative;
    margin-bottom: 1.5rem;

    @include respond-above(sm) {
        padding: 4rem 0 6rem;
    }

    .row {
        justify-content: space-between;
        align-items: center;
    }

    &__content {
        position: relative;
        z-index: 2;

        &--subtitle {
            line-height: 1;

            @extend .mb-0;
            @extend .h6;
        }
        &--title {
            @extend .h3;
            @extend .m-0;
            @extend .font-weight-bold;
        }
        &--text {
            @extend .my-2;
        }
        a.btn {
            width: 100%;

            @include respond-above(sm) {
                width: auto;
            }
        }
    }
    &__image {
        width: 100%;
    }
}